<form class="form">
    <h1>Deletando Pessoa</h1>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome Completo</mat-label>
      <input disabled [(ngModel)]="pessoa.nome" name="nome" matInput placeholder="Nome Completo">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input disabled [(ngModel)]="pessoa.cpf" name="cpf" matInput placeholder="CPF">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input disabled [(ngModel)]="pessoa.dataNascimento" required name="dataNascimento" matInput placeholder="Data de Nascimento">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input disabled [(ngModel)]="pessoa.email" name="email" matInput placeholder="E-mail">
      </mat-form-field>

      <div class="buttons">
        <button (click)="delete()" mat-stroked-button color="accent">Deletar</button>
        <button (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
      </div>
  </form>